body::-webkit-scrollbar {
    display: none;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    background-color: #e7aaaa;
}

.accordion-item {
    border: 1px solid #891b1b;
}

.accordion-body {
    background-color: #fff2f2;
}

.news-wrapper {
    position: relative;
    padding-bottom: 85px;
}

.footer-fixed {
    position: absolute;
    left: 0;
    bottom: 0;
}

.width100{
    width: 100%;
}

.aboutFooter{
    position: relative;
    bottom: 0;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.text-justify{
    text-align: justify;
}

.pl10{
    padding-left: 10px;
}

.pd10{
    padding: 10px;
}